<div class="container">
 
  <h1>Welcome to Ruby Racer!</h1>
  <p><strong>Player sign in</strong></p>
  
  <form id="sign_in" action="/sign_in" method="post">
    <div class="input-group">
    <input type="text" class="form-control" placeholder ="Player" name="name"><br>
    <br>
    <input type="password" class="form-control" placeholder ="Password" name="password">
    <br> <br>
    <input type="submit" class="btn" value="Player Sign in!">
  </form>
  <br> 
</div>
